
.hero {
  @include background( "hero.jpg", no-repeat, cover, center bottom);
  min-height: 582px;
}

.sellPoint {
  .card {
    &-img {
      min-height: 420px;
      @include media-breakpoint-between(md, lg) {
        min-height: 252px;
        &-overlay {
          padding: 1rem !important;
        }
      }
    }
  }
}
.teacher {
  &__banner {
    height: 628px;
  }
  @include media-breakpoint-down(md) {
    &__img {
      width: 48px;
      height: 48px;
    }
  }
}
.course-index {
  &__img {
    height: 446px;
  }
}
.learnMore {
  i {
    transition: all .3s;
  }
  &:hover {
    i {
      transform: translateX(4px);
    }
  }
}
.ratio-17x7 {
  @include media-breakpoint-down(lg) {
    --bs-aspect-ratio: 46%;
  }
  @include media-breakpoint-down(md) {
    --bs-aspect-ratio: 100%;
  }
}
.curriculum {
  .table {
    min-width: 920px;
  }
}
.courseInfo__banner {
  @include media-breakpoint-down(md) {
    height: 218px;
  }
}
.course {
  .card-img {
    height: 240px;
  }
  .badge {
    left: 55px;
  }
}
.courseTeachers {
  .card {
    @include media-breakpoint-up(md) {
      min-height: 422px;
    }
    @include media-breakpoint-between(lg, xl) {
      min-height: 470px;
    }
  }
}
