
.hero {
  @include background( "hero.jpg", no-repeat, cover, center bottom);
  min-height: 600px;
}

.sellPoint {
  &__item {
    min-height: 420px;
    &-1 {
      background-image: url("../images/point-01.jpg");
    }
    &-2 {
      background-image: url("../images/point-02.jpg");
    }
    &-3 {
      background-image: url("../images/point-03.jpg");
    }
    @include media-breakpoint-between(md, lg) {
      min-height: 252px;
      padding: 1rem !important;
    }
  }
}
.teacher {
  &__banner {
    height: 628px;
  }
}
.course {
  &__img {
    height: 446px;
  }
}
.plan {
  .card-img {
    height: 240px;
  }
}
.learnMore {
  i {
    transition: all .3s;
  }
  &:hover {
    i {
      transform: translateX(4px);
    }
  }
}