.btn {
  &-primary,
  &-outline-primary,
  &-outline-secondary {
    &:hover {
      color: $light !important;
    }
  }
  &-secondary {
    color: $white !important;
  }
  &-light {
    color: $dark !important;
    &:hover {
      color: $dark !important;
    }
  }
}